<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    .button {
      border: none;
      color: white;
      padding: 10px 50px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 0px 0px;
      cursor: pointer;
    }
.button1 {background-color: #4CAF50;} /* Green */
</style>
</head>
<body>
<a href=http://127.0.0.1:8000/mylibrary/login/><button type="button", class="button button1">Log In</button></a>
</body>
</html>