{% extends 'mylibrary_app/menu.html' %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    .button {
      border: none;
      color: white;
      padding: 10px 50px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 222px 2px;
      cursor: pointer;
    }
.button1 {background-color: #4CAF50;} /* Green */
</style>
</head>
<body>
<center><a href="{% url 'client' %}"><button type="button", class="button button1">Log In</button></a></center>
</body>
</html>
{% endblock %}