{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" href="{% static 'mylibrary_app/css/styles.css' %}" rel="stylesheet" />
</head>
<body>
{% block mainmenu %}
<header id="header" >
	<nav class="links" style="--items: 5;" >
        {% for m in menu %}
        <a href = "{% url m.url_name %}">{{m.title}}</a>
        {% endfor %}
		<span class="line"></span>
	</nav>
</header>


{% endblock mainmenu %}

{% block content %}
{% endblock content %}


<footer>
<div class="footer">
  <div class="inner-footer">

<!--  for company name and description -->
    <div class="footer-items">
      <h1>Company Name</h1>
      <p>MyLibrary</p>
    </div>

<!--  for quick links  -->
    <div class="footer-items">
      <h3>Quick Links</h3>
      <div class="border1"></div> <!--for the underline -->
        <ul>
          <a href="#"><li>Home</li></a>
          <a href="#"><li>Search</li></a>
          <a href="#"><li>Contact</li></a>
          <a href="#"><li>About</li></a>
        </ul>
    </div>

<!--  for some other links -->
    <div class="footer-items">
      <h3>Recipes</h3>
      <div class="border1"></div>  <!--for the underline -->
        <ul>
          <a href="#"><li>Indian</li></a>
          <a href="#"><li>Chinese</li></a>
          <a href="#"><li>Mexican</li></a>
          <a href="#"><li>Italian</li></a>
        </ul>
    </div>

<!--  for contact us info -->
    <div class="footer-items">
      <h3>Contact us</h3>
      <div class="border1"></div>
        <ul>
          <li><i class="fa fa-map-marker" aria-hidden="true"></i>AM, abc</li>
          <li><i class="fa fa-phone" aria-hidden="true"></i>+374-11-13-13-93</li>
          <li><i class="fa fa-envelope" aria-hidden="true"></i>example@gmail.com</li>
        </ul>

<!--   for social links -->
        <div class="social-media">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-google-plus-square"></i></a>
        </div>
    </div>
  </div>

<!--   Footer Bottom start  -->
  <div class="footer-bottom">
    Made in Armenia 2022.
  </div>
</div>

<!--   Footer Bottom end -->

<!--   FOOTER END -->

</footer>
</body>
</html>